<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Save Employee</title>
</head>

<body>

<div class="container">

    <h3>Bus Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Bus</p>

    <form action="#" th:action="@{/bus/save}"
          th:object="${newBus}" method="POST">

        <input type ="hidden" th:field="*{id}">

        <input type="text" th:field="*{firma}"
               class="form-control mb-4 w-25" placeholder="Firm">

        <input type="text" th:field="*{departureTime}"
               class="form-control mb-4 w-25" placeholder="departure time">

        <input type="text" th:field="*{arrivalTime}"
               class="form-control mb-4 w-25" placeholder="<arrival time>">

        <input type="text" th:field="*{destination}"
               class="form-control mb-4 w-25" placeholder="destination">

        <input type="text" th:field="*{capacity}"
               class="form-control mb-4 w-25" placeholder="capacity">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/bus/list}">Back to Employees List</a>

</div>


</body>

</html>